.recipe-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .recipe-meta {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #555;
  }

  h3 {
    margin-top: 20px;
  }
}
