.search-bar-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
