.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 5px;

  .search-icon {
    position: absolute;
    left: 20px;
    color: #aaa;
  }

  input {
    flex-grow: 1;
    padding: 15px 20px 15px 50px;
    font-size: 1rem;
    border: none;
    background: transparent;
    outline: none;
    color: var(--text-color);
  }

  .search-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--primary-color);
      filter: brightness(90%);
    }
  }
}
