<div class="recipe-grid">
  <div *ngFor="let recipe of recipes" class="recipe-card">
    <div class="card-image">
      <img [src]="recipe.imageUrl" [alt]="recipe.name" />
    </div>
    <div class="card-content">
      <span class="recipe-category">{{ recipe.category }}</span>
      <h3 class="recipe-title">{{ recipe.name }}</h3>
      <div class="recipe-meta">
        <span><span class="material-icons">timer</span> {{ recipe.time }} min</span>
        <span><span class="material-icons">person</span> {{ recipe.servings }} servings</span>
      </div>
      <a [routerLink]="['/recipe', recipe.id]" class="view-recipe-btn">View Recipe</a>
    </div>
  </div>
</div>
